<!DOCTYPE html>
<html>
  <head>
    <title>Myrubyblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
		    
		    <div class="navbar-header">
		      
		      <a class="navbar-brand" href="/">Koval Mykola blog</a>
		      </div>
		      <ul class="nav navbar-nav navbar-right">	      	
		      <% if user_signed_in? %>
		      	  <li><%= link_to "Edit user", edit_user_registration_path %></li>
			      <li><%= link_to "Sing out", destroy_user_session_path, method: :delete %></li>
		      	<% else%>
					<li><%= link_to "Sign up", new_user_registration_path %></li>
			      	<li><%= link_to "Sign in", new_user_session_path %></li>
		      	<% end%>
		      </ul>

		    </div>
		</div>
	</nav>
	<div class="container">
		<div class="posts">
		<%= yield %>
		</div>	
	</div>
    
  </body>
</html>
